.ui-edit-container {
  opacity: 1;
  position: absolute;
  overflow: visible;
  pointer-events: none;
  -webkit-transition: opacity .15s ease 0s;
  transition: opacity .15s ease 0s;
}

.ui-border-selecting {
  border-color: #197aff;
  border-style: dashed;
  z-index: 2;
}

.ui-border {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
  pointer-events: none;
  position: absolute;
  will-change: transform,width,height;
  z-index: 1;
}

.action-bar {
  border-radius: 4px;
  color: #fff;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  grid-gap: 3px;
  -webkit-align-items: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
  pointer-events: all;
  position: absolute;
  z-index: 10;
}

.view-context {
  background-color: #3370ff;
  border: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 0 0 0 7px;
  position: relative;
}

.action-bar .view-context {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  background-color: #fff;
  border: 1px solid #d0d3d6;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: hsla(0,0%,100%,.85);
  color: #1f2329;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  overflow: hidden;
  position: relative;
  gap: 2px;
  padding: 0 5px;
  grid-gap: 2px;
  cursor: pointer;
}

.action-bar .view-context .label {
  display: inline-block;
  max-width: 120px;
  overflow: hidden;
  padding: 2px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.view-actions {
  background-color: #3370ff;
  border: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: #fff;
  font-size: 12px;
  padding-left: 5px;
  position: relative;
}

.action-bar .view-actions {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-align-items: stretch;
  align-items: stretch;
  background-color: #fff;
  border: 1px solid #d0d3d6;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #2b2f36;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  font-size: 12px;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  padding: 0 8px;
}

.action-bar .view-actions>.action-item:not(:last-child) {
  margin-left: 4px;
}

.action-bar .view-actions>.action-item {
  -ms-flex-negative: 0;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  opacity: .8;
  padding: 0 4px;
}

.width-modifier {
  height: 100%;
  position: absolute;
  width: 100%;
}

.width-modifier .modifier-border {
  border-radius: 2px;
  height: 100%;
  /* left: 0; */
  position: absolute;
  /* top: 0; */
  width: 100%;
}

.width-modifier .modifier-handler.left-handler {
  transform: translate(-2px,-50%);
}

.width-modifier .modifier-handler.right-handler {
  right: 0;
  transform: translate(2px,-50%);
}

.width-modifier .modifier-handler {
  align-items: center;
  background: #fff;
  border: 1.5px solid #3370ff;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: ew-resize;
  display: flex;
  height: 24px;
  justify-content: center;
  /* 鼠标无法显示resize了 */
  pointer-events: all;
  position: absolute;
  top: 50%;
  width: 8px;
  z-index: 100;
}

.width-modifier .drag-state-tip {
  background: #3370ff;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  min-width: 30px;
  padding: 0 8px;
  position: absolute;
  text-align: center;
  top: 50%;
  visibility: hidden;
  word-break: keep-all;
  z-index: 100;
}

/* Canvas for drag view ghost Begin*/
.canvas-ghost-container, .canvas-ghost-container .canvas-ghost-icon {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.canvas-ghost-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  grid-gap: 8px;
  background: #fff;
  border: 1px solid #3370ff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 8px rgba(31,35,41,.03), 0 3px 6px -6px rgba(31,35,41,.05), 0 6px 18px 6px rgba(31,35,41,.03);
  box-shadow: 0 4px 8px rgba(31,35,41,.03), 0 3px 6px -6px rgba(31,35,41,.05), 0 6px 18px 6px rgba(31,35,41,.03);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 8px;
  padding: 6px 12px;
  pointer-events: none;
  position: fixed;
  z-index: 9999;
}

.canvas-ghost-container .canvas-ghost-icon {
  color: #3370ff;
  font-size: 12px;
}

.canvas-ghost-container, .canvas-ghost-container .canvas-ghost-icon {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.canvas-ghost-container .canvas-ghost-title {
  width: 55px;
  color: #3370ff;
  font-size: 12px;
  line-height: 20px;
  word-break: break-all;
}
/* Canvas for drag view ghost End*/
